    @import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        max-width: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Vesper Libre',
            serif;
        color: rgb(207, 19, 107);
        background-color: #CCCCFF;
    }

    header {
        height: 100vh;
        width: 100vw;
    }

    nav {
        width: 90%;
        margin: 10px auto;
        text-align: right;
        margin-bottom: 20px;
    }

    nav ul li {
        display: inline-block;
    }

    nav ul li a {
        text-decoration: none;
        color: rgb(207, 19, 107);
        font-size: 20px;
        margin: 0 10px;
        transition: all 0.5s;
        letter-spacing: 1px;
    }

    nav ul li a:hover {
        color: rgb(63, 0, 0);
    }

    .strapline-container {
        border: 2px solid rgb(207, 19, 107);
        width: 90%;
        height: 85%;
        margin: auto auto;
        text-align: center;
        background-image: url('donut1.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-family: 'Poppins',
            sans-serif;
    }

    .strapline-container h1 {
        font-size: 120px;
        text-transform: uppercase;
        color: rgb(207, 19, 107);
        margin: 30px 0;
    }

    .strapline-container h2 {
        font-size: 35px;
        color: #ffffdd;
        text-transform: capitalize;
        font-style: italic;
    }

    .section-title {
        text-align: center;
        font-family: 'Poppins',
            sans-serif;
        color: rgb(207, 19, 107);
        text-transform: uppercase;
        margin-bottom: 25px;
        font-size: 240%;
    }

    .about-section {
        height: 90vh;
        width: 100vw;
    }

    .about-container {
        width: 85%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
    }

    .left-box {
        width: 45%;
        font-weight: bold;
        line-height: 220%;
        letter-spacing: 0.8px;
        text-align: justify;
    }

    .right-box {
        width: 40%;
        margin-left: 6%;
    }

    .inner-top-box,
    .inner-bottom-box {
        width: 100%;
        height: 50%;
        display: flex;
    }

    .first-box {

        width: 50%;
        height: 100%;
        background-image: url('coffee.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .second-box {

        width: 50%;
        height: 100%;
        background-image: url('donut2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .third-box {

        width: 50%;
        height: 100%;
        background-image: url('donut3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .fourth-box {

        width: 50%;
        height: 100%;
        background-image: url('food.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .donut-section {
        width: 100vw;
    }

    .image-container {
        width: 100%;
    }

    .row1,
    .row2,
    .row3 {
        width: 90%;
        margin: 10px auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        font-size: 50px;
        color: black;
        background-color: rgba(127, 172, 255, 0.413);
    }

    .grid-item {
        width: 30%;
        height: 310px;
        /* display: inline-block; */
        margin: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 0.5s;
    }

    .grid-item:hover {
        opacity: 0.5;
        cursor: pointer;
    }

    #one {
        background-image: url('1.jpg');
    }

    #two {
        background-image: url('2.avif');
    }

    #three {
        background-image: url('3.jpg');
    }

    #four {
        background-image: url('4.jpg');
    }

    #five {
        background-image: url('5.jpg');
    }

    #six {
        background-image: url('6.jpg');
    }

    #seven {
        background-image: url('7.jpg');
    }

    #eight {
        background-image: url('8.jpg');
    }

    #nine {
        background-image: url('9.jpg');
    }

    .store-section {
        width: 100vw;
    }

    .store-container {
        display: flex;
        flex-direction: row;
        width: 120%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.588);
    }

    .store1 {
        color: black;
        width: 80%;
        height: 500px;
        margin: 20px;
        text-align: center;
        background-image: url(store1.jpg);
        background-position: center;
        background-size: cover;
    }

    .store2 {
        color: black;
        width: 80%;
        height: 500px;
        margin: 20px;
        text-align: center;
        background-image: url(store2.png);
        background-position: center;
        background-size: cover;
    }

    .store3 {
        color: black;
        width: 80%;
        height: 500px;
        margin: 20px;
        text-align: center;
        background-image: url(store3.jpg);
        background-position: center;
        background-size: cover;
    }

    .store h4 {
        font-size: 150%;
    }

    .footer-section {
        width: 100vw;
        height: 25vh;
        background-color: rgb(207, 19, 107);
        color: #ffffdd;
        text-align: center;
    }

    .footer-section h3 {
        text-transform: uppercase;
        font-family: 'Poppins',
            sans-serif;
        text-transform: uppercase;
        margin: 25px 0;
        font-size: 250%;
    }

    .email {
        font-size: 130%;
    }

    .social-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 40vw;
        margin: 0 auto;
    }

    .social {
        margin: 0 7.5px;
    }

    .top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 20px;
        background-color: rgb(207, 19, 107);
        color: #fff;
        padding: 3px;
    }

    .donut1{
        color: black;
        margin-top: auto;
    }

    .donut-none li{
        text-decoration: none;
        display: inline-block;
        margin-left: 150px;
        text-align: center;
    }

    .name{
        color:black;
        font-size:30px ;
    }

    .name1{
        color: black;
        font-size:30px ;
    }

    .donut-none1 li{
        text-decoration: none;
        display: inline-block;
        margin-left: 120px;
        text-align: center;
    }