body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(back1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    background-color: rgba(127, 255, 212, 0.416);
    color: black;
}

h2 {
    font-size: 50px;
}

.container {
    text-align: center;
}

a {
    color: blue;
}